<!--<ul class="alink w">
		<li>
			<a href="/" target="_blank">詰醛t迵煤</a>
		</li>
		<li>
			<a></a>
		</li>
	</ul>-->

	<div class="footer">
		<div class="w">
			<div class="ftl">
				<p>广告联系qq：722163</p>
				<p>微信：13651031789<a href="/" class="ml20" target="_blank"></a></p>
			</div>
			<div class="ftr">
				本站所有GIF邪恶动态图 仅供娱乐_不作任何商业用途 ┊ 本站如有转载或引用文章或图片涉及版权问题_请速与我们联系动图网 Copyright
				&#169; 2016 <a href="/" >www.gifweb.club</a> 版权所有 吉ICP备17002864
				<div class="none">
				   
				</div>
			</div>
		</div>
	</div>
 
</body>
</html>