.interlocutionTitle{position: relative;margin-top: 25px; }
.zw-cont{font-size: 1.5rem;margin-bottom: 30px;}
.zw-cont p{margin: 0;}
.cont-del{margin-top: 24px;}
.cont-del p{line-height: 1.8em;word-wrap: break-word;word-break: normal;}/*display: inline-block;*/
/*.cont-del p.cont i.icon{display: inline-block; height:22px;width:22px;background-position:-158px -61px;padding-left: 26px;margin-right: 15px; vertical-align: middle;}*/
.cont-del p.cont i.icon{
    display: inline-block;
    background: url("/gl/static/images/v1/pictip.png") no-repeat;
    background-size: auto 14px;
    height: 14px;
    width: 21px;
    padding-left: 26px;margin-right: 15px; vertical-align: middle;
}
.cont-del p.cont i.icon span{color: #a2b7da;margin-top: -7px;display: inline-block;position: absolute;}
.cont-del p.cont i.arrowPc{margin-left: 7px;display: inline-block;width:13px;height:12px;background: url("/gl/static/images/v1/upPc.png") no-repeat;background-size:100% 100%;}
.cont-del p.cont i.arrowPc2{margin-left: 7px;display: inline-block;width:13px;height:12px;background: url("/gl/static/images/v1/downPc.png") no-repeat;background-size:100% 100%;}
.cont-del p.cont a{color:#4054b1;}
.cont-del i.arrowMobile{left: 50%;margin-left: -13px;display: inline-block;position: relative;width:26px;height:14px;background: url("/gl/static/images/v1/upMobile.png") no-repeat;background-size:100% 100%;}
.cont-del i.arrowMobile2{left: 50%;margin-left: -13px;display: inline-block;position: relative;width:26px;height:14px;background: url("/gl/static/images/v1/downMobile.png") no-repeat;background-size:100% 100%;}
.pic_article{text-align: left;}
.pic_article .img_box{margin-bottom:10px;line-height: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0); overflow: hidden;}
.img_box img {}

/*.interlocutionGz{border-bottom: 1px solid #E0E0E0;height: 55px;line-height:55px;border-top:1px solid #E0E0E0;font-size: 13px;clear: both;zoom: 1;overflow: hidden;}*/
/*.interlocutionGz span{margin-right: 10px;}*/
/*.interlocutionGz em{color: #cbcbcb;margin-right: 10px;}*/
/*.interlocutionGz .follow{display: block; height: 30px; line-height: 30px; width: 63px; border-radius: 4px; text-align: center; background: #1fce6e; font-size: 15px;color:#ffffff;*/
    /*margin-top: 12px;right: 0;position: absolute;}*/
/*.interlocutionGz .active{background: #cccccc;}*/
/*.detailEnd{margin-bottom: 15px;}*/

.replyPc{line-height: 50px;font-size: 17px;height:50px;background: #f0f0f0;text-align: center;margin-top: -50px;}
.reply i.replyIcon{margin-right: 10px;vertical-align: middle;display: inline-block;position: relative;width:14px;height:18px;background: url("/gl/static/images/v1/reply.png") no-repeat;background-size:100% 100%;}
/*.replyMobile{position: fixed;width:100%;height:50px;z-index:899;line-height: 50px;font-size: 17px;background: #f0f0f0;text-align: center;bottom:0;}*/
.replyMobile{width:100%;height:50px;line-height: 50px;font-size: 17px;background: #f0f0f0;text-align: center;z-index: 999;}

/*.zanBtn{display: inline-block;position:absolute;right: 8px;top:8px;}*/
/*.zanNum{position: relative;top:30%;font-size: 11px;text-align: center;float: right;}*/
/*.upDown{position: relative;top:30%;float: right;margin-right:5px;}*/
/*.zanUpDiv .zanUp{width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #b6b6b6;margin-bottom: 3px;}*/
/*.zanUpDiv .active{border-bottom:8px solid #5677fc;}*/
/*.zanDownDiv .zanDown{width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #b6b6b6;}*/
/*.zanDownDiv .active{border-top:8px solid #5677fc}*/

.tkBg{position: fixed;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.2); z-index:999;}

.tk{border-radius:10px;text-align: center;position: fixed;height:300px;width:400px;margin-top:-150px;top:50%;margin-left:-200px;left:50%;background: #ffffff;border: solid 1px #cccccc;}
.tkTitle{position: relative;font-size: 17px;margin-top:15%;margin-bottom: 5%;}
.tpC{position: relative;margin-left:-100px;left:50%;font-size: 15px;}
.tpC span{margin-top: 52px; display: block; }
.agree{position: relative;float: left;width:80px;height:80px;background: #ffffff;border: solid 1px #c5c5c5;border-radius:5px;margin-right:20px;}
.agree div{
    margin-top: 30px;
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #c5c5c5;
}
.tpC a.active .agree, .tpC a:hover .agree{position: relative;float: left;width:80px;height:80px;background: #5677fc;border-radius:5px;margin-right:20px;}
.tpC a.active .agree div, .tpC a:hover .agree div{
    margin-top: 30px;
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #fff;
}

.nay{position: relative;float: left;width:80px;height:80px;background: #ffffff;border: solid 1px #c5c5c5;border-radius:5px;margin-left:20px;}
.nay div{
    margin-top: 30px;
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-top:12px solid #c5c5c5;
}
.tpC a.active .nay, .tpC a:hover .nay{position: relative;float: left;width:80px;height:80px;background: #5677fc;border: solid 1px #c5c5c5;border-radius:5px;margin-left:20px;}
.tpC a.active .nay div, .tpC a:hover .nay div{
    margin-top: 30px;
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-top:12px solid #fff;
}
hr.f0line{padding-bottom: 5px;}
@media screen and (min-width: 550px) {
    .tk{width:400px;margin-left:-200px;left:50%;height:300px;margin-top:-150px;top:50%;}
}
@media screen and (max-width: 549px) {
    .tk{width:300px;margin-left:-150px;left:50%;height:225px;margin-top:-112.5px;top:50%;}
}
@media screen and (min-width: 997px) {
    .mobileA{display: none;}
    .pcA{display: inline-block;}
    .replyMobile{display: none;}
    .replyPc{display: block;}
    .content .detail {margin: 0; }
    hr.f0line{border-width: 1px;}

}
@media screen and (max-width: 996px) {
    .mobileA{display: block;}
    .pcA{display: none;}
    .replyMobile{display: block;}
    .replyPc{display: none;}
    hr.f0line{display: none;}
    .content .c-box1{margin-bottom: 15px;}
    .singleTitle {
        border: none;
        border-bottom: 1px solid #e9e9e9;
    }
    .cont-del p.cont i.icon span {
        margin-top: -4px;
    }
}

.content .detail {
    border:none;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid rgba(0,0,0,0);
}
.detail.questionDetail {
    border: none;
}