@charset "utf-8";
/*----------专区攻略聚合------------------*/
strong {font-weight: 500;}
.singleTitle{border: 1px solid #e9e9e9; margin: 0 8px 18px; }
.singleTitle .box-title{padding: 15px 10px;}
.single-pcCome-tle{font-size: 16px;color: #fff;border-radius: 0 10px 10px 0px;
    font-size: 11px;
    background: #FF574F;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;}
@media screen and (min-width: 997px) {
    .singleTitle{border: none; border-bottom: 1px solid #e9e9e9;}
    .singleTitle .box-title{padding: 0 0 20px 0;}


}
@media screen and (max-width: 996px) {
    .pcgintro{width: 0px;}
}
@media screen and (min-width: 1200px){
    .pcgintro{width: 230px;}
}
@media screen and (min-width: 1600px){
    .pcgintro{width: 364px;}
}

