<{include file="./common/header.html"}>
<div class="w">
        <dv class="main">
            <ul class="list">
                <li>
                    <div class="cola">
                        <span>05-05</span>
                    </div>
                    <div class="colb">
                        <div class="title"><strong><{$info.title}></strong></div>
                        <div class="info">
                            <div class="mb10">
                                <span class="g9 mr50">
                                    by <{$info.user_name}>
                                </span>
                                
                                <span class="tag">
                                    动物
                                </span>
                                <span class="g9 ml50"><span id="vvclick">100</span>人浏览</span>
                            </div>
                        </div>
                        <div class="con">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        
                                        <img src="<{$info.img_url}>"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <{$info.gif_desc}>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="share">
                            <span class="dc">
                                <span name="newdigg" id="newdigg13736"></span><!--<a href="/fun/13736.html" target="_blank" class="reply">[field:id function='GetReplayCount(@me)'/]</a>-->
                            </span>
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
                            <script>    window._bd_share_config={ "common": { "bdSnsKey": {},"bdText": "","bdMini": "2","bdMiniList": false,"bdPic": "","bdStyle": "2","bdSize": "24" },"share": {} };with(document) 0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+ ~(-new Date()/36e5)];</script>
                        </div>
                        
                        <div class="showcom" aid="13736"><span>收起评论</span>(0)</div>
                        <div class="commentbox">
                            <div class="post">
                                <p>发表评论</p>
                                <textarea data-max="300" data-toggle="text-limit" placeholder="给个面子，来说两句~"></textarea>
                                <div class="ovh">
                                    <input type="button" class="btnPost r" aid="13736" value="发表" /><span><em class="n">0</em>/300</span>
                                </div>
                            </div>
                            <div class="commentlist">
                                <p class="ct">全部评论(<span>0</span>)</p>
                                <p>最新评论</p>
                                <ul>
                                    <li>游客：1</li>
									<li>游客：2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt20"></div>
                      </div>
                </li>
                <script>
                    getDigg(13736);
                </script>
            </ul>
            <div class="mt20"></div>

        </div>
</div>
<{include file='./common/right.html'}>
    
<{include file='./common/footer.html'}>
<script>
$(function(){
showmsg('嘎嘎噶哈哈哈');
});

</script>
	
	


